<!-- coding:utf-8 -->
<!DOCTYPE html>
<html>
<head>
	<title>BookSort</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'sort/style.css' %}">
</head>
<body>
	<div class="top">
		<a href="../">
			<p>Book Sorting</p>
		</a>
	</div>
	<div class="sort_button">
		<span> <strong> Tag: </strong> <a href="#"> Biography </a> </span>
		<p>
			<strong>Order by:</strong>
			<a href="../sortByrating/"> Rating </a> / 
			<a href="../sortByratingsCount/"> Rating Count </a> /
			<a href="../sortBypublishYear/"> Publish Year </a>
		</p>
	</div>
	<div class="main">
		<div class="book_list">
			<table>
				<tr class="row1">
					<td>
						<img src="https://images.gr-assets.com/books/1511288482l/11084145.jpg">
					</td>
					<td>
						<img src="https://images.gr-assets.com/books/1537075718l/48855.jpg">
					</td>
					<td>
						<img src="https://images.gr-assets.com/books/1327861115l/8664353.jpg">
					</td>
					<td>
						<img src="https://images.gr-assets.com/books/1478144278l/2203.jpg">
					</td>
				</tr>
				<tr class="row2">
					<td>
						<img src="https://images.gr-assets.com/books/1481509554l/9418327.jpg">
					</td>
					<td>
						<img src="https://images.gr-assets.com/books/1327878144l/6493208.jpg">
					</td>
					<td>
						<img src="https://images.gr-assets.com/books/1328011405l/10884.jpg">
					</td>
					<td>
						<img src="https://images.gr-assets.com/books/1403173986l/1845.jpg">
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="footer">
		<p>Copyright@2018, Wei Ma, All Rights Reserved.<p>
	</div>
</body>
</html>