<!-- coding:utf-8 -->
<!DOCTYPE html>
<html>
<head>
    <title>BookSort</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        function showTooltip(target) {
            var x = event.pageX;
            var y = event.pageY;
            document.getElementById(target.id.replace(/^book/,'tooltip')).style.display = 'block';
            document.getElementById(target.id.replace(/^book/,'tooltip')).style.top = y+'px'; 
            document.getElementById(target.id.replace(/^book/,'tooltip')).style.left = x+'px';
        }  
        function hideTooltip(target) {  
            document.getElementById(target.id.replace(/^book/,'tooltip')).style.display = 'none';  
        }
    </script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sort/style.css' %}">
</head>
<body>
    <script color="88,64,42" opacity="0.9" count="160" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.js" type="text/javascript" charset="utf-8"></script>
    <hr style="border:10px solid #58402a87;">
    <div class="top">
        <a href="../">
            <p>Book Sorting</p>
        </a>
    </div>
    <!-- <div class="sort_button">
        <span>
            <strong> Genre: </strong>
            <a href="/Biography/sortByrating/"> Biography </a> / 
            <a href="/Fiction/sortByrating/"> Fiction </a> / 
            <a href="/Classics/sortByrating/"> Classics </a>
        </span>
        <p>
            <strong>Order by:</strong>
            <a href="../sortByrating/"> Rating </a> / 
            <a href="../sortByratingsCount/"> Rating Count </a> /
            <a href="../sortBypublishYear/"> Publish Year </a>
        </p>
    </div> -->
    <!-- <HR style="border:3 double " width="100%" color=#987cb9 SIZE=3> -->
    <hr>
    <div class="main">
        <p><a href="/Biography/sortByrating/">Biography</a></p>
        <div id="demo">
            <div id="indemo">
                <div id="demo1">
                    {% for i in BookList.biography %}
                        <a href="{{i.link}}">
                            <img id="book{{i.id}}" src={{i.img_url}} alt="{{i.title}}" onmouseover="showTooltip(this);" onmouseout="hideTooltip(this);">
                            <div id="tooltip{{i.id}}" style="padding: 10px;display: none;border: 8px solid #9c9b91d6;background-color: #f7f7f7;color: #000;position: absolute;top: 0;left: 0;border-radius: 10px;box-shadow: 0 4px 10px rgba(0,0,0,.2);">
                                <span style="font-size: 18px; font-weight: 700;">{{i.title}}</span><br>
                                &nbspby<span class="author" style="font-weight: 600;">&nbsp{{ i.author }}</span><br>
                                <span class="rating">
                                    &nbspRating:
                                    <i style="color: #857866; font-weight: 600; font-size: 18px;">{{ i.rating }}</i>
                                </span><br>
                                <span class="ratingC"><i style="color: #857866; font-weight: 600; font-size: 18px;">&nbsp{{ i.ratingsCount }}</i>&nbspratings</span><br>
                                <span class="Pyear">&nbsppublished&nbsp<i style="color: #857866; font-weight: 600; font-size: 18px;">{{ i.publish_year }}</i></span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div id="demo2"></div>
            </div>
        </div>

        <p><a href="/Fiction/sortByrating/">Fiction</a></p>
        <div id="demo_2">
            <div id="indemo2">
                <div id="demo3">
                    {% for i in BookList.fiction %}
                        <a href="{{i.link}}">
                            <img id="book{{i.id}}" src={{i.img_url}} alt="{{i.title}}" onmouseover="showTooltip(this);" onmouseout="hideTooltip(this);">
                            <div id="tooltip{{i.id}}" style="padding: 10px;display: none;border: 8px solid #9c9b91d6;background-color: #f7f7f7;color: #000;position: absolute;top: 0;left: 0;border-radius: 10px;box-shadow: 0 4px 10px rgba(0,0,0,.2);">
                                <span style="font-size: 18px; font-weight: 700;">{{i.title}}</span><br>
                                &nbspby<span class="author" style="font-weight: 600;">&nbsp{{ i.author }}</span><br>
                                <span class="rating">
                                    &nbspRating:
                                    <i style="color: #857866; font-weight: 600; font-size: 18px;">{{ i.rating }}</i>
                                </span><br>
                                <span class="ratingC"><i style="color: #857866; font-weight: 600; font-size: 18px;">&nbsp{{ i.ratingsCount }}</i>&nbspratings</span><br>
                                <span class="Pyear">&nbsppublished&nbsp<i style="color: #857866; font-weight: 600; font-size: 18px;">{{ i.publish_year }}</i></span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div id="demo4"></div>
            </div>
        </div>
        <p><a href="/Classics/sortByrating/">Classics</a></p>
        <div id="demo_3">
            <div id="indemo3">
                <div id="demo5">
                    {% for i in BookList.classics %}
                        <a href="{{i.link}}">
                            <img id="book{{i.id}}" src={{i.img_url}} alt="{{i.title}}" onmouseover="showTooltip(this);" onmouseout="hideTooltip(this);">
                            <div id="tooltip{{i.id}}" style="padding: 10px;display: none;border: 8px solid #9c9b91d6;background-color: #f7f7f7;color: #000;position: absolute;top: 0;left: 0;border-radius: 10px;box-shadow: 0 4px 10px rgba(0,0,0,.2);">
                                <span style="font-size: 18px; font-weight: 700;">{{i.title}}</span><br>
                                &nbspby<span class="author" style="font-weight: 600;">&nbsp{{ i.author }}</span><br>
                                <span class="rating">
                                    &nbspRating:
                                    <i style="color: #857866; font-weight: 600; font-size: 18px;">{{ i.rating }}</i>
                                </span><br>
                                <span class="ratingC"><i style="color: #857866; font-weight: 600; font-size: 18px;">&nbsp{{ i.ratingsCount }}</i>&nbspratings</span><br>
                                <span class="Pyear">&nbsppublished&nbsp<i style="color: #857866; font-weight: 600; font-size: 18px;">{{ i.publish_year }}</i></span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div id="demo6"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright@2018, Wei Ma, All Rights Reserved.<p>
    </div>
</body>
<script>
    var speed=13;
    var speed2=18;
    var speed3=10;
    var tab=document.getElementById("demo");
    var tab_1=document.getElementById("demo_2");
    var tab_2=document.getElementById("demo_3");
    var tab1=document.getElementById("demo1");
    var tab2=document.getElementById("demo2");
    var tab3=document.getElementById("demo3");
    var tab4=document.getElementById("demo4");
    var tab5=document.getElementById("demo5");
    var tab6=document.getElementById("demo6");
    tab2.innerHTML=tab1.innerHTML;
    tab4.innerHTML=tab3.innerHTML;
    tab6.innerHTML=tab5.innerHTML;
    function Marquee(){
        if(tab1.offsetWidth-tab.scrollLeft<=0)
            tab.scrollLeft=tab.scrollLeft-tab1.offsetWidth
        else{
            tab.scrollLeft++;
        }
    }
    function Marquee2(){
        if(tab3.offsetWidth-tab_1.scrollLeft<=0)
            tab_1.scrollLeft=tab_1.scrollLeft-tab3.offsetWidth
        else{
            tab_1.scrollLeft++;
        }
    }
    function Marquee3(){
        if(tab5.offsetWidth-tab_2.scrollLeft<=0)
            tab_2.scrollLeft=tab_2.scrollLeft-tab5.offsetWidth
        else{
            tab_2.scrollLeft++;
        }
    }
    var MyMar=setInterval(Marquee,speed);
    tab.onmouseover=function() {clearInterval(MyMar)};
    tab.onmouseout=function() {MyMar=setInterval(Marquee,speed)};
    var MyMar2=setInterval(Marquee2,speed2);
    tab_1.onmouseover=function() {clearInterval(MyMar2)};
    tab_1.onmouseout=function() {MyMar2=setInterval(Marquee2,speed2)};
    var MyMar3=setInterval(Marquee3,speed3);
    tab_2.onmouseover=function() {clearInterval(MyMar3)};
    tab_2.onmouseout=function() {MyMar3=setInterval(Marquee3,speed3)};
</script>
</html>