<!-- coding:utf-8 -->
<!DOCTYPE html>
<html>
<head>
	<title>BookSort</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'sort/style.css' %}">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
		var x=0;
		function checkRight(){
			x=1;
			document.getElementById('all').value = x;
			document.getElementById('button').value = 'No more books';
		}
		$(window).scroll(function(){
			var $document = $(document).scrollTop()
			if ($document > 75 && $document < $(window).height()){
				$("#fixed").addClass("top-nav");
	            $('div.go-top').show();
			}else if($document < 75){
				$("#fixed").removeClass("top-nav");
	            $('div.go-top').hide();
			}
		})
	</script>
</head>
<body>
	<div id="top" class="top">
		<a href="../../">
			<p>Book Sorting</p>
		</a>
	</div>
	<div id="fixed" class="sort_button">
		<span>
			<strong> Genre: </strong>
			<a href="/Biography/sortByrating/"> Biography </a> / 
			<a href="/Fiction/sortByrating/"> Fiction </a> / 
			<a href="/Classics/sortByrating/"> Classics </a>
		</span>
		<p>
			<strong>Order by:</strong>
			<a href="../sortByrating/"> Rating </a> / 
			<a href="../sortByratingsCount/"> Rating Count </a> /
			<a href="../sortBypublishYear/"> Publish Year </a>
		</p>
	</div>
	<div class="main">
		<div id="sort_rating_list" class="sort_list">
			<ol>
			{% for i in BookList %}
				<li>
					<div class="book_cover">
						<a href="{{i.link}}">
							<img src={{i.img_url}}>
						</a>
					</div>
					<div class="book_info">
						<a href="{{i.link}}">
							<span class="title">&nbsp{{ i.title }}</span><br>
						</a>
						&nbspby<span class="author">&nbsp{{ i.author }}</span><br><br>
						<span class="rating">
							&nbspRating:&nbsp{{ i.rating }}
						</span>
						<br>
						<span class="ratingC">&nbsp{{ i.ratingsCount }}&nbspratings</span><br>
						<span class="Pyear">&nbsppublished&nbsp{{ i.publish_year }}</span><br>
					</div>
				</li>
			{% endfor %}
			</ol>
		</div>
		<em>* All books data from: <a href="https://www.goodreads.com/">Goodreads</a> (https://www.goodreads.com/)</em>
		<div id="more" class="load_more">
			<form method="get">
				<input type="text" id="all" name="all" style="display: none;"/>
				<button type="submit" id="button" onclick="checkRight()">
					<span>Load All</span>
				</button>
			</form>
		</div>
	</div>
	<a href="#top">
		<div class="go-top">
			<div class="arrow"></div>
			<div class="stick"></div>
			<span>Back Top</span>
		</div>
	</a>
	<div class="footer">
		<p style="cursor: default;">Copyright@2018, Wei Ma, All Rights Reserved.<p>
	</div>
</body>
</html> 